body {
  padding-top: 56px;
  font-weight: 600;
}

.navbar {
  background-color: #64bc50;
  height: 85px;
  letter-spacing: 1px;
  padding-left: 25px;
  padding-right: 25px;
}

.sidebar {
  position: fixed;
  top: 56px;
  bottom: 0;
  left: 0;
  z-index: 100;
  padding: 20px 0 0;
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, 0.1);
  width: 240px;
  background-color: #28323b;
  overflow-y: auto;
  width: 300px;
}

.sidebar-sticky {
  position: relative;
  top: 0;
  height: auto;
  padding-top: 0.5rem;
}

.main-content {
  margin-left: 240px;
}

.dropdown-menu {
  position: static;
  float: none;
  background-color: #28323b;
  border: none;
  border-radius: 0;
  box-shadow: none;
  padding: 0;
  margin: 0;
  width: 100%;
  display: none;
}

.sidebar .nav-link.active {
  background-color: #3a4652;
}

.sidebar a,
.sidebar .nav-link,
.dropdown-menu a,
.dropdown-item {
  color: #ffffff;
}

.dropdown-item {
  padding: 0.5rem 1rem 0.5rem 2rem;
}

.dropdown-item:hover,
.dropdown-item:focus {
  background-color: #3a4652;
  color: #ffffff;
}

.nav-link:hover,
.nav-link:focus {
  color: #ffffff;
  background-color: #3a4652;
}

.sidebar .dropdown-menu.show {
  display: block;
}
